body{
  margin: 0;
  padding: 0;
  background-color: #012641;
}

.container{
  width: 350px;
  height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 175px);
}

.ghost-1{
  width: 150px;
  height: 250px;
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 0;
  background-color: #FFF;
  border-radius: 100px 100px 0 0;
}

.ghost-1::before{
  content: "";
  width: 20px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 30px 0px 0px #FFF, 60px 3px 0px #FFF, 94px -4px 0px #FFF, 130px -1px 0px #FFF;

}