body{
  margin: 0;
  padding: 0;
  background-color: #012641;
}

.container{
  width: 350px;
  height: 400px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 175px);
}

.ghost-1{
  width: 150px;
  height: 250px;
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 0;
  background-color: #FFF;
  border-radius: 100px 100px 0 0;
}